# Movie recommendation system with Qdrant space vectors

This notebook is a simple example of how to use Qdrant to build a movie recommendation system.
We will use the MovieLens dataset and Qdrant to build a simple recommendation system.

## How it works

MovieLens dataset contains a list of movies and ratings given by users. We will use this data to build a recommendation system.

Our recommendation system will use an approach called **collaborative filtering**.

The idea behind collaborative filtering is that if two users have similar tastes, then they will like similar movies.
We will use this idea to find the most similar users to our own ratings and see what movies these similar users liked, which we haven't seen yet.


1. We will represent each user's ratings as a vector in a sparse high-dimensional space.
2. We will use Qdrant to index these vectors.
3. We will use Qdrant to find the most similar users to our own ratings.
4. We will see what movies these similar users liked, which we haven't seen yet.

In [ ]:
!pip install qdrant-client pandas

In [25]:
# Download and unzip the dataset

!mkdir -p data
!wget https://files.grouplens.org/datasets/movielens/ml-1m.zip
!unzip ml-1m.zip -d data

In [1]:
from qdrant_client import QdrantClient, models
import pandas as pd

In [3]:
users = pd.read_csv(
    './ml-1m/users.dat',
    sep='::',
    names=[
        'user_id',
        'gender',
        'age',
        'occupation',
        'zip'
    ],
    engine='python'
)
users

      user_id gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
...       ...    ...  ...         ...    ...
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]

In [4]:
movies = pd.read_csv(
    './ml-1m/movies.dat',
    sep='::',
    names=[
        'movie_id',
        'title',
        'genres'
    ],
    engine='python',
    encoding='latin-1'
)
movies

,movie_id,title,genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [5]:
ratings = pd.read_csv(
    './ml-1m/ratings.dat',
    sep='::',
    names=[
        'user_id',
        'movie_id',
        'rating',
        'timestamp'
    ],
    engine='python'
)

In [7]:
ratings

         user_id  movie_id    rating  timestamp
0              1      1193  1.269746  978300760
1              1       661 -0.520601  978302109
2              1       914 -0.520601  978301968
3              1      3408  0.374572  978300275
4              1      2355  1.269746  978824291
...          ...       ...       ...        ...
1000204     6040      1091 -2.310948  956716541
1000205     6040      1094  1.269746  956704887
1000206     6040       562  1.269746  956704746
1000207     6040      1096  0.374572  956715648
1000208     6040      1097  0.374572  956715569

[1000209 rows x 4 columns]

In [8]:
# Normalize ratings

# Sparse vectors can use advantage of negative values, so we can normalize ratings to have mean 0 and std 1
# In this scenario we can take into account movies that we don't like

ratings.rating = (ratings.rating - ratings.rating.mean()) / ratings.rating.std()

In [9]:
# Convert ratings to sparse vectors

from collections import defaultdict

user_sparse_vectors = defaultdict(lambda: {
    "values": [],
    "indices": []
})

for row in ratings.itertuples():
    user_sparse_vectors[row.user_id]["values"].append(row.rating)
    user_sparse_vectors[row.user_id]["indices"].append(row.movie_id)

In [12]:
# For this small dataset we can use in-memory Qdrant
# But for production we recommend to use server-based version

# qdrant = QdrantClient(":memory:") # or QdrantClient("http://localhost:6333")

qdrant = QdrantClient(
    "dd9d07be-69ca-414a-a793-d80f20491734.us-east4-0.gcp.cloud.qdrant.io",
    api_key="G1D1a6VOKXluGttB869-9ertneQOwtffD_3EN5qAfVK56efrAfTIbg",
)

In [13]:
# Create collection with configured sparse vectors
# Sparse vectors don't require to specify dimension, because it's extracted from the data automatically

qdrant.create_collection(
    "movielens",
    vectors_config={},
    sparse_vectors_config={
        "ratings": models.SparseVectorParams()
    }
)

True

In [14]:
# Upload all user's votes as sparse vectors

def data_generator():
    for user in users.itertuples():
        yield models.PointStruct(
            id=user.user_id,
            vector={
                "ratings": user_sparse_vectors[user.user_id]
            },
            payload=user._asdict()
        )

# This will do lazy upload of the data
qdrant.upload_points(
    "movielens",
    data_generator()
)

In [15]:
# Let's try to recommend something for ourselves

#  1 - like
# -1 - dislike

# Search with 
# movies[movies.title.str.contains("Matrix", case=False)]

my_ratings = { 
    2571: 1,  # Matrix
    329: 1,   # Star Trek
    260: 1,   # Star Wars
    2288: -1, # The Thing
    1: 1,     # Toy Story
    1721: -1, # Titanic
    296: -1,  # Pulp Fiction
    356: 1,   # Forrest Gump
    2116: 1,  # Lord of the Rings
    1291: -1, # Indiana Jones
    1036: -1  # Die Hard
}

inverse_ratings = {k: -v for k, v in my_ratings.items()}

def to_vector(ratings):
    vector = models.SparseVector(
        values=[],
        indices=[]
    )
    for movie_id, rating in ratings.items():
        vector.values.append(rating)
        vector.indices.append(movie_id)
    return vector

In [16]:
# Find users with similar taste

results = qdrant.search(
    "movielens",
    query_vector=models.NamedSparseVector(
        name="ratings",
        vector=to_vector(my_ratings)
    ),
    with_vectors=True, # We will use those to find new movies
    limit=20
)

In [17]:
# Calculate how frequently each movie is found in similar users' ratings

def results_to_scores(results):
    movie_scores = defaultdict(lambda: 0)

    for user in results:
        user_scores = user.vector['ratings']
        for idx, rating in zip(user_scores.indices, user_scores.values):
            if idx in my_ratings:
                continue
            movie_scores[idx] += rating

    return movie_scores

In [18]:
# Sort movies by score and print top 5

movie_scores = results_to_scores(results)
top_movies = sorted(movie_scores.items(), key=lambda x: x[1], reverse=True)

for movie_id, score in top_movies[:5]:
    print(movies[movies.movie_id == movie_id].title.values[0], score)

Star Wars: Episode V - The Empire Strikes Back (1980) 20.02387858
Star Wars: Episode VI - Return of the Jedi (1983) 16.443184379999998
Princess Bride, The (1987) 15.840068229999996
Raiders of the Lost Ark (1981) 14.94489462
Sixth Sense, The (1999) 14.570322149999999

In [19]:
# Find users with similar taste, but only within my age group
# We can also filter by other fields, like `gender`, `occupation`, etc.

results = qdrant.search(
    "movielens",
    query_vector=models.NamedSparseVector(
        name="ratings",
        vector=to_vector(my_ratings)
    ),
    query_filter=models.Filter(
        must=[
            models.FieldCondition(
                key="age",
                match=models.MatchValue(value=25)
            )
        ]
    ),
    with_vectors=True,
    limit=20
)

movie_scores = results_to_scores(results)
top_movies = sorted(movie_scores.items(), key=lambda x: x[1], reverse=True)

for movie_id, score in top_movies[:5]:
    print(movies[movies.movie_id == movie_id].title.values[0], score)

Princess Bride, The (1987) 16.214640659999997
Star Wars: Episode V - The Empire Strikes Back (1980) 14.65283738
Blade Runner (1982) 13.529120059999997
Usual Suspects, The (1995) 13.446604859999999
Godfather, The (1972) 13.300576229999997

In [21]:
from langchain.prompts import PromptTemplate
from langchain.output_parsers import DatetimeOutputParser
from langchain.chains import LLMChain
from langchain.llms import OpenAI

In [20]:
import google.generativeai as genai
genai.configure(api_key='AIzaSyD1GjdcUrcYeL-KdR7gZyjxlO0d9OGO2OA')

C:\Users\USER\anaconda3\envs\myenv\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [22]:
from langchain_google_genai import ChatGoogleGenerativeAI
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain

In [24]:
GOOGLE_API_KEY='AIzaSyD1GjdcUrcYeL-KdR7gZyjxlO0d9OGO2OA'

llm = ChatGoogleGenerativeAI(model="gemini-pro", google_api_key=GOOGLE_API_KEY)

tweet_prompt = PromptTemplate.from_template("You are a content creator. Write me a tweet about {topic}.")

tweet_chain = LLMChain(llm=llm, prompt=tweet_prompt, verbose=True)

if __name__=="__main__":
    topic = "how ai is really cool"
    resp = tweet_chain.run(topic=topic)
    print(resp)

C:\Users\USER\anaconda3\envs\myenv\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 1.0. Use RunnableSequence, e.g., `prompt | llm` instead.
  warn_deprecated(
C:\Users\USER\anaconda3\envs\myenv\lib\site-packages\langchain_core\_api\deprecation.py:139: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new LLMChain chain...
Prompt after formatting:
You are a content creator. Write me a tweet about how ai is really cool.

> Finished chain.
ðŸ¤– AI is the future! From revolutionizing healthcare to powering self-driving cars, AI's impact is undeniable. Its ability to analyze vast amounts of data and identify patterns makes it an invaluable tool for progress. #ArtificialIntelligence #TechRevolution

In [25]:
output_parser = DatetimeOutputParser()
template = """Answer the users question:

{question}

{format_instructions}"""
prompt = PromptTemplate.from_template(
    template,
    partial_variables={"format_instructions": output_parser.get_format_instructions()},
)

In [26]:
#chain = LLMChain(prompt=prompt, llm=OpenAI)
chain = LLMChain(llm=llm, prompt=prompt, verbose=True)

In [27]:
output = chain.run("around when was bitcoin founded?")

> Entering new LLMChain chain...
Prompt after formatting:
Answer the users question:

around when was bitcoin founded?

Write a datetime string that matches the following pattern: '%Y-%m-%dT%H:%M:%S.%fZ'.

Examples: 0018-11-17T23:04:17.901085Z, 1857-07-11T07:50:57.283661Z, 0055-11-08T06:57:57.465160Z

Return ONLY this string, no other words!

> Finished chain.